/* Card styling */
.card {
    width: 250px;  /* Fixed square size */
    height: 180px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    display: flex;
    /*border: 2px solid black;*/
    flex-direction: column;
    justify-content: left;
    margin: 10px; /* Space around the card */
}

/* Card title */
.card-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

/* Card description */
.card-description {
    font-size: 16px;
    color: #666;
}
