.registration-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #FEF3ED;
}

.registration-box {
  width: 100vw;
  padding: 2rem;
  background-color: #FEF3ED;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  width: 100%;
  max-width: 800px;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 1rem;
  appearance: none;
}

.form-group select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.65rem auto;
  padding-right: 1.5rem;
  cursor: pointer;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #ff7008;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.25s, border-color 0.25s;
}

.register-button:hover {
  background-color: #e68900;
}

.redirect-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #213547;
}

.redirect-link a {
  color: #ff7008;
  text-decoration: none;
  font-weight: 500;
}

.redirect-link a:hover {
  text-decoration: underline;
}

.login-prompt {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FEF3ED;
  }

  .registration-box {
    background-color: #FEF3ED;
  }

  .form-group input,
  .form-group select {
    background-color: #FEF3ED;
    color: #000;
  }

  .register-button {
    background-color: #ff7008;
  }

  .register-button:hover {
    background-color: #e68900;
  }

  .login-prompt {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: black;
  }

}
